/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Cc]logs/
/[MemoryCaptures]/
/[Pp]ackages/
/[Vv]isualStudio/
.vs/
.gradle/
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.com.unity.addressables/
/Assets/AssetStoreTools*
/Assets/Plugins/Editor/JetBrains*
.DS_Store